@import "tailwindcss";

*::-webkit-scrollbar {
  background-color: #eee;
  border-radius: 5px;
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: #6b6b6e;
  border-radius: 5px;
  border: solid 2px #eee;
}

body {
  margin: auto;
  max-width: 1366px;
  width: 100%;
  font-family: "font-family: " Poppins ", " Inter ", " Segoe UI
    ", Roboto, sans-serif";
}
